name: r_app_online
description: A R.app re-implementation using flutter.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 0.6.8

environment:
  sdk: ^3.1.1

dependencies:
  flutter:
    sdk: flutter
  flutter_gif: ^0.0.4
  audioplayers: ^5.2.1
  url_launcher: ^6.2.4
  provider: ^6.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1
  flutter_launcher_icons: "^0.13.1"

flutter_launcher_icons:
  android: false
  ios: true
  image_path: "/Users/frank/Projects/Flutter_R3/icon300.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  web:
    generate: true
    background_color: "#hexcode"
    theme_color: "#hexcode"
  windows:
    generate: true
    icon_size: 256 # min:48, max:256, default: 48
  macos:
    generate: true

flutter:
  uses-material-design: true
  assets:
    - assets/fragments/
    - assets/icons/
    - assets/media/
    - assets/images/