name: Build macOS Binary
run-name: Build macOS
# on: [push]
on:
  push:
    branches:
    - main
jobs:
  Explore-GitHub-Actions:
    runs-on: macos-latest
    steps:
      - name: Info printout
        run: |
          echo "The job was automatically triggered by a ${{ github.event_name }} event."
          echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
          echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - name: Import flutter action package
        uses: subosito/flutter-action@v2.12.0
        with:
          channel: 'stable'
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Initial cleaning
        run: flutter clean && flutter pub get
      - name: Rebuild icons
        run: flutter pub run flutter_launcher_icons 
      - name: Configure macOS desktop environment
        run: flutter create --platforms=macos .
      - name: flutter doctor output
        run: flutter doctor
      - name: Build macOS version
        run: flutter build macos
