name: Build Desktop Binaries and Release
run-name: Build Windows, Macintosh, Linux executables
on: [push]
# on:
#   push:
#     branches:
#       - main

jobs:
  upload-release:
    runs-on: ubuntu-latest
    # needs: [build-macos, build-linux, build-windows]
    needs: [build-linux]

    steps:
      - uses: actions/checkout@v1
      - name: create release
        id: create_release
        uses: ncipollo/release-action@v1
        with:
          tag: latest
          allowUpdates: true
          bodyFile: "CHANGELOG.md"
          artifacts: "chicken_linux.zip"
      - name: download artifacts
        uses: actions/download-artifact@v1
        with:
          name: uploads
      #   - name: upload macos
      #     id: upload-macos
      #     uses: actions/upload-release-asset@v1.0.1
      #     env:
      #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     with:
      #       upload_url: ${{ steps.create_release.outputs.upload_url }}
      #       asset_path: ./uploads/macos.zip
      #       asset_name: macos.zip
      #       asset_content_type: application/zip
      - name: upload linux
        id: upload-linux
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uploads/linux.zip
          asset_name: linux.zip
          asset_content_type: application/zip
    #   - name: upload windows
    #     id: upload-windows
    #     uses: actions/upload-release-asset@v1.0.1
    #     env:
    #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     with:
    #       upload_url: ${{ steps.create_release.outputs.upload_url }}
    #       asset_path: ./uploads/windows.zip
    #       asset_name: windows.zip
    #       asset_content_type: application/zip

  build-linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Info printout
        run: |
          echo "The job was automatically triggered by a ${{ github.event_name }} event."
          echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
          echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: zip linux artifact
        run: |
          touch chicken.txt
          zip -r linux chicken.txt
      - name: upload linux artifact
        uses: actions/upload-artifact@v1
        with:
          name: uploads
          path: linux.zip
